<div class="d-flex align-items-center">
  <h1>{{ (selectedGroupId() ?? "" | group)?.name }} Dashboards</h1>
  <app-add-button (clicked)="openDashboardDialog(true)"></app-add-button>

  @if (selectedDashboardId()) {
    @if (selectedGroupId()) {
      <app-edit-button
        color="accent"
        (clicked)="openDashboardDialog()"
      ></app-edit-button>
    }
    <app-delete-button color="warn" (clicked)="openDeleteConfirmationDialog()">
    </app-delete-button>
  }
</div>
<div class="mb-2">
  <mat-chip-listbox>
    @for (dashboard of dashboards(); track dashboard.id) {
      <mat-chip-option
        [selected]="dashboard?.id?.toString() == selectedDashboardId()"
        [selectable]="false"
        [routerLink]="[dashboard.id]"
        (click)="setSelectedDashboardId(dashboard.id)"
        >{{ dashboard.name }}</mat-chip-option
      >
    }
  </mat-chip-listbox>
</div>

@if (selectedDashboardId()) {
  <router-outlet></router-outlet>
}
@if (!selectedDashboardId() && !dashboards().length) {
  <p>Click on the + button to add a dashboard to this group.</p>
}
